<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
   <script type="text/javascript">
            $('#year').datetimepicker({
            format      :   "YYYY",
            viewMode    :   "years", 
             });
   </script>
</head>
<body>
    <h1>Add Book</h1>
    <form action="/add_book" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>
        <label for="author">Author (Seperate using ,)</label>
        <input type="text" name="author" id="author" required>
        <label for="edition">Edition</label>
        <input type="number" name="edition" id="edition" required>
        <label for="year">Published Year</label>
        <input type="number" name="year" id="year" min="1800" max="2022" required>
        <label for="published_by">Published By</label>
        <input type="text" name="published_by" id="published_by" required>
        <button type="submit">Add Book</button>
    </form>
    <hr>
    <p>Here are the books that are in library:</p>
        <ol>
            {% for book in books %}
                <li>{{ book }}</li>
            {% endfor %}
        </ol>
    
    <a href="./librarian_home">Back to Dashboard!</a>
</body>
</html>