<!DOCTYPE html>
<html>
<head>
    <title>Add Issue</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
   <script type="text/javascript">
            $('#year').datetimepicker({
            format      :   "YYYY",
            viewMode    :   "years", 
             });
   </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="./librarian_home"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="./librarian_home">Librarian Dashboard</a></li>
            <li><a href="./add_book">Add Book</a></li>
            <li><a href="./add_article">Add Article</a></li>
            <li class="active"><a href="./add_issue">Add Issue</a></li>
            <li><a href="./search_document">Search Document</a></li>
            <li><a href="./delete_member">Delete Member</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/modify_member"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
          </ul>
        </div>
      </nav>
    <h1 class="text-muted text-center">Add Issue</h1>
    <form action="/add_issue" method="POST" style="margin-left: 5%;">
        <div class="form-group" style="display: inline-block;">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>
        </div>
        <div class="form-group" style="display: inline-block;">
        <label for="author">Contributor Name (Seperate using ,)</label>
        <input type="text" name="author" id="author" required>
        </div>
        <div class="form-group" style="display: inline-block;">
        <label for="year">Date of Issue</label>
        <input type="date" name="year" id="year" required>
        </div>
        <div class="form-group" style="display: inline-block;">
        <label for="published_by">Magazine Name</label>
        <input type="text" name="published_by" id="published_by" required>
        </div>
        <div class="form-group" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">Add Issue</button>
        </div>
    </form>
    <hr>
    <h3 class="text-muted text-center">Here are the issues that are in library:</h3>
    <hr>
        <ol class="list-group">
            {% for issue in issues %}
                <li class="list-group-items text-muted text-center"><h4>{{ issue[0] }}</h4></li>
                <hr>
            {% endfor %}
        </ol>
    <!-- <a href="./librarian_home">Back to Dashboard!</a> -->
</body>
</html>