<!DOCTYPE html>
<html>
    <head>
        <title>Member Dashboard</title>
        <style>
            table {
                border: 1px solid black;
                border-collapse: collapse;

            }
            th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="./member_home"></a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="./member_home">Member Dashboard</a></li>
                <li><a href="./borrow_document">Borrow Document</a></li>
                <li><a href="./search_document">Search Document</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/modify_member"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
              </ul>
            </div>
          </nav>
        <h1 style="text-align:center;" class="text-muted">Member Dashboard</h1>
        <h2 style="text-align:center;" class="text-info">Hi, {{ username }}!</h2>

        <!-- <div style="margin-left:40%;">
        <button class="btn btn-primary" onclick="window.location.href='/borrow_document'">Borrow Document</button>
        <button class="btn btn-primary" onclick="window.location.href='/search_document'">Search Document</button>
        </div> -->
        <div style="margin: 5%;"></div>
        <h4 class="text-muted text-center"><span class="text-success">Here are the documents you have borrowed</span></h4>
        <table class="table table-hover" style="border: 1px solid black; width: 100%;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Document ID</th>
                <th style="border: 1px solid black;">Title</th>
                <th style="border: 1px solid black;">Type of Document</th>
                <th style="border: 1px solid black;">Borrowed Date</th>
                <th style="border: 1px solid black;">Return By</th>
                <th style="border: 1px solid black;">Return Document</th>
            </tr>
            {% for book in books %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">{{ book[3] }}</td>
                    <td style="border: 1px solid black;">{{ book[4] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/return_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input class="btn btn-info" type="submit" value="Return">
                        </form>
                        </td>
                </tr>
            {% endfor %}
            {% for book in articles %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">{{ book[3] }}</td>
                    <td style="border: 1px solid black;">{{ book[4] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/return_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input class="btn btn-info" type="submit" value="Return">
                        </form>
                        </td>
                </tr>
            {% endfor %}
            {% for book in issues %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">{{ book[3] }}</td>
                    <td style="border: 1px solid black;">{{ book[4] }}</td>
                    <td style="border: 1px solid black;">
                    <form method="post" action="/return_document">
                        <input type="hidden" name="document_id" value="{{ book[0]}}">
                        <input class="btn btn-info" type="submit" value="Return">
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div style="margin: 5%;"></div>



        <h4 class="text-warning text-center">Here are the documents you have previously borrowed</h4>
        <table class="table table-hover" style="border: 1px solid black; width: 100%;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Document ID</th>
                <th style="border: 1px solid black;">Title</th>
                <th style="border: 1px solid black;">Type of Document</th>
                <th style="border: 1px solid black;">Borrow Document</th>
            </tr>
            {% for book in previousbooks %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    {% if overdue ==1 %}
                        <td style="border: 1px solid black;">Forbidden from borrowing, Overdue exists</td>
                    {% else %}
                        <td style="border: 1px solid black;">
                            <form method="post" action="/borrow_document">
                                <input type="hidden" name="document_id" value="{{ book[0] }}">
                                <input class="btn" type="submit" value="Borrow">
                            </form>
                            </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for book in previousarticles %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    {% if overdue ==1 %}
                    <td style="border: 1px solid black;">Forbidden from borrowing, Overdue exists</td>
                {% else %}
                    <td style="border: 1px solid black;">
                        <form method="post" action="/borrow_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input class="btn" type="submit" value="Borrow">
                        </form>
                        </td>
                {% endif %}
                </tr>
            {% endfor %}
            {% for book in previousissues %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    {% if overdue ==1 %}
                        <td style="border: 1px solid black;">Forbidden from borrowing, Overdue exists</td>
                    {% else %}
                        <td style="border: 1px solid black;">
                            <form method="post" action="/borrow_document">
                                <input type="hidden" name="document_id" value="{{ book[0] }}">
                                <input class="btn" type="submit" value="Borrow">
                            </form>
                            </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <!-- <p>If you wish to <a href="/logout">logout, click here!</a></p> -->
    </body>
</html>