<!DOCTYPE html>
<html>
    <head>
        <title>Member Dashboard</title>
        <style>
            table {
                border: 1px solid black;
                border-collapse: collapse;

            }
            th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Member Dashboard</h1>
        <p>Hi, {{ username }}!</p>
        <button onclick="window.location.href='/borrow_document'">Borrow Document</button>
        <button onclick="window.location.href='/search_document'">Search Document</button>
        <hr>
        <p>Here are the documents you have borrowed</p>
        <table style="border: 1px solid black; width: 100%;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Document ID</th>
                <th style="border: 1px solid black;">Title</th>
                <th style="border: 1px solid black;">Type of Document</th>
                <th style="border: 1px solid black;">Borrowed Date</th>
                <th style="border: 1px solid black;">Return Document</th>
            </tr>
            {% for book in books %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">{{ book[3] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/return_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input type="submit" value="Return">
                        </form>
                        </td>
                </tr>
            {% endfor %}
            {% for book in articles %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/return_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input type="submit" value="Return">
                        </form>
                        </td>
                </tr>
            {% endfor %}
            {% for book in issues %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">
                    <form method="post" action="/return_document">
                        <input type="hidden" name="document_id" value="{{ book[0]}}">
                        <input type="submit" value="Return">
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>



        <p>Here are the documents you have previously borrowed</p>
        <table style="border: 1px solid black; width: 100%;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Document ID</th>
                <th style="border: 1px solid black;">Title</th>
                <th style="border: 1px solid black;">Type of Document</th>
                <th style="border: 1px solid black;">Borrow Document</th>
            </tr>
            {% for book in previousbooks %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/borrow_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input type="submit" value="Borrow">
                        </form>
                        </td>
                </tr>
            {% endfor %}
            {% for book in previousarticles %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/borrow_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input type="submit" value="Borrow">
                        </form>
                        </td>
                </tr>
            {% endfor %}
            {% for book in previousissues %}
                <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ book[0] }}</td>
                    <td style="border: 1px solid black;">{{ book[1] }}</td>
                    <td style="border: 1px solid black;">{{ book[2] }}</td>
                    <td style="border: 1px solid black;">
                        <form method="post" action="/borrow_document">
                            <input type="hidden" name="document_id" value="{{ book[0] }}">
                            <input type="submit" value="Borrow">
                        </form>
                        </td>
                </tr>
            {% endfor %}
        </table>
        <p>If you wish to <a href="/logout">logout, click here!</a></p>
    </body>
</html>